@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
/*-- -------------------------- -->
<---      Desktop Navigation    -->
<--- -------------------------- -*/
@media only screen and (min-width: 64rem) {
  #cs-navigation {
    width: 100%;
    box-sizing: border-box;
    padding: 0 1rem;
    background-color: #000; 
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    z-index: 10000;
  }

  #cs-navigation .cs-container {
    width: 100%;
    max-width: 80rem;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
  }

  #cs-navigation .cs-toggle {
    display: none;
  }

  #cs-navigation .cs-logo {
    width: 18.4%;
    max-width: 21.875rem;
    height: 3.125rem;
    margin: 0 auto 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  #cs-navigation .cs-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  #cs-navigation .cs-ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* 20px - 36px */
    gap: clamp(1.25rem, 2.6vw, 2.25rem);
  }

  #cs-navigation .cs-li {
    list-style: none;
    padding: 1rem 0;
    flex: none;
    font-family: "Rye", serif;
    color: #ffff;
  }

  #cs-navigation .cs-li-link {
    font-size: clamp(0.875rem, 1vw, 1rem);
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
    position: relative;
  }

  #cs-navigation .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    font-family: "rye", serif;
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    border: 2px solid #ffff;
    border-radius: 0;
    box-sizing: border-box;
    padding: 0;
    color: #fff;
    background-color: #000;
    display: inline-block;
    position: relative;
    z-index: 1;
    transform: scale(0.8);
  }

  body {
    margin: 0;
    padding: 0;
  }

  .rye-regular {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
  }

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

@media only screen and (min-width: 0rem) {
  #hero-1785 {
    padding: clamp(12.5rem, 25.95vw, 18.75em) 1rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  #hero-1785 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
  }

  #hero-1785 .cs-content {
    text-align: center;
    width: 100%;
    max-width: 46.875rem;
  }

  #hero-1785 .cs-title {
    font-size: clamp(3.0625rem, 6vw, 5.25rem);
    font-family: "Rye", serif;
  }

  #hero-1785 .cs-title,
  #hero-1785 .cs-text {
    color: white;
  }

  #hero-1785 .cs-text {
    margin-bottom: 2rem;
    font-family: "Rye", serif;
  }

  #hero-1785 .cs-graphic {
    width: 100%;
    min-width: 120rem;
    height: auto;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 0;
    transform: translateX(-50%);
  }

  #hero-1785 .cs-graphic-dark {
    display: none;
  }

  #hero-1785 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }

  #hero-1785 .cs-background:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    pointer-events: none;
    opacity: 0.7;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  #hero-1785 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

@media only screen and (min-width: 0rem) {
  #hero-1619 {
    padding-top: clamp(12.5rem, 31.95vw, 18.75rem);
    position: relative;
    z-index: 1;
  }

  #hero-1619 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(3.75rem, 13vw, 11.25rem);
  }

  #hero-1619 .cs-content {
    text-align: left;
    width: 100%;
    max-width: 48.75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #hero-1619 .cs-topper {
    font-size: clamp(0.8125rem, 1.5vw, 1rem);
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: relative;
  }

  #hero-1619 .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-family: 'Rye', serif;
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 100%;
    margin: 0 0 2.5rem 0;
    color: #fff;
    position: relative;
  }

  #hero-1619 .cs-text {
    font-size: clamp(1rem, 1.95vw, 1.25rem);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: clamp(29rem, 60vw, 38.785rem);
    margin: 0 0 2.5rem 0;
    color: #fff;
  }

  #hero-1619 .cs-card-group {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: clamp(10rem, 2.3vw, 1.25rem);
  }

  #hero-1619 .cs-item {
    width: 100%;
    text-align: left;
    list-style: none;
    margin: 0;
    /* 24px - 32px */
    padding: clamp(1.5rem, 3vw, 2rem);
    background-color: #fff;
    box-shadow: 0px 12px 80px 0px rgba(26, 26, 26, 0.08);
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    grid-column: span 12;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  #hero-1619 .cs-icon {
    width: 3rem;
    height: auto;
    margin: 0 0 1.5rem 0;
  }
  #hero-1619 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: bold;
    text-align: inherit;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
  }

  #hero-1619 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    max-width: 28.125rem;
    margin: 0;
    padding: 0;
    color: var(--bodyTextColor);
  }

  #hero-1619 .cs-background {
    width: 100%;
    height: 55%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #hero-1619 .cs-background:before {
    content: '';
    width: 100%;
    height: 100%;
    background: #111926;
    opacity: .8;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
  }

  #hero-1619 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-1619 {
    padding-bottom: 0;
  }
  #hero-1619 .cs-container {
    align-items: flex-start;
  }
  #hero-1619 .cs-content {
    text-align: left;
    margin-left: 0;
    align-items: flex-start;
  }
  #hero-1619 .cs-item {
    grid-column: span 6;
  }
  #hero-1619 .cs-background {
    height: 87%;
  }
  #hero-1619 .cs-background:before {
    background: linear-gradient(90deg, #111926 21.41%, rgba(17, 25, 38, 0.72) 34.98%, rgba(17, 25, 38, 0) 62.53%);
    opacity: 1;
  }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #hero-1619 .cs-item {
    grid-column: span 3;
  }
}
}

/*-- -------------------------- -->
<---            Menu            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #menu-1001 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
    }
    #menu-1001:before {
        /* static tiled pattern */
        content: "";
        height: 100%;
        width: 100%;
        opacity: 0.08;
        background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/static-pattern.png");
        background-size: auto;
        background-position: center;
        background-repeat: repeat;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #menu-1001 .cs-container {
        padding-top: 10rem;
        padding-bottom: 10rem;
        width: 100%;
        max-width: 80em;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 7vw, 4rem);
    }
    #menu-1001 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }
    

    #menu-1001 .cs-card-group {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        column-gap: 1.25rem;
        /* 32px - 60px */
        row-gap: clamp(2rem, 6vw, 3.75rem);
    }
    #menu-1001 .cs-item {
        list-style: none;
        width: 100%;
        max-width: 36.25rem;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* 16px - 36px */
        gap: clamp(1rem, 3vw, 2.25rem);
    }
    #menu-1001 .cs-picture {
        /* 76px - 160px */
        width: clamp(4.75rem, 14vw, 10rem);
        height: clamp(4.75rem, 14vw, 10rem);
        overflow: hidden;
        display: block;
        flex: none;
        position: relative;
    }
    #menu-1001 .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* makes it act like a background image */
        object-fit: cover;
    }
    #menu-1001 .cs-h3 {
        /* 16px - 24px */
        font-size: clamp(1rem, 2vw, 1.5rem);
        line-height: 1.2em;
        font-weight: 700;
        text-align: left;
        /* 8px - 16px */
        margin: 0 0 clamp(0.5rem, 1.5vw, 1rem);
        color: var(--headerColor);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        gap: 0.75rem;
    }
    #menu-1001 .cs-h3:after {
        content: "";
        width: 50%;
        height: 1px;
        background: #b4b2c7;
        opacity: 1;
        position: relative;
        display: block;
        order: 1;
    }
    #menu-1001 .cs-name {
        max-width: 13.75rem;
        flex: none;
    }
    #menu-1001 .cs-price {
        /* 16px - 25px */
        font-size: clamp(1rem, 2vw, 1.5625rem);
        /* 28px - 46px */
        line-height: clamp(1.75rem, 4vw, 2.875rem);
        font-weight: 700;
        /* 8px - 12px */
        padding: 0 clamp(0.5rem, 1vw, 0.75rem);
        color: var(--primary);
        background-color: #fff;
        border-radius: 5rem;
        border: 1px solid #b4b2c7;
        display: flex;
        align-items: center;
        order: 3;
    }
    #menu-1001 .cs-item-p {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 2vw, 1rem);
        line-height: 1.5em;
        text-align: left;
        margin: 0;
        color: var(--bodyTextColor);
    }
    #menu-1001 .cs-title,
    #menu-1001 .cs-text {
        font-family: 'Rye', serif;
    }
    #menu-1001 .cs-title {
        font-size: clamp(2.4375rem, 6vw, 3.8125rem);
        margin: auto;
    }
    #menu-1001 .cs-text {
        margin:auto;
        font-size: clamp(1rem, 2vw, 1.25rem);
}
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #menu-1001 .cs-card-group {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 1.25rem;
    }
    #menu-1001 .cs-item {
        width: 48.5%;
    }
}


/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cs-footer-274 {
        padding: var(--sectionPadding);
    }
    #cs-footer-274{
      background-color:black;
    }
    #cs-footer-274 .cs-container {
        width: 100%;
         /* 160px - 550px */
        padding-bottom: 10rem;
        padding-top: 10rem;
        /* reset on tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        column-gap: 0;
        row-gap: 2rem;
    }
    #cs-footer-274 .cs-logo-group {
        /* takes up all the space, lets the other ul's wrap below it */
        width: 100%;
        position: relative;
    }
    #cs-footer-274 .cs-logo-group {
        /* 44px - 52px */
        margin-bottom: clamp(2.75rem, 6.8vw, 3.25rem);
    }
    #cs-footer-274 .cs-logo {
        /* 210px - 240px */
        width: clamp(13.125rem, 8vw, 15rem);
        height: auto;
        display: block;
    }
    #cs-footer-274 .cs-logo-img {
        width: 100%;
        height: auto;
    }
    #cs-footer-274 .cs-social {
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.75rem;
        position: absolute;
        top: 0;
        right: 0;
    }
    #cs-footer-274 .cs-social-link {
        width: 1.5rem;
        height: 1.5rem;
        background-color: #4e4b66;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        transition:
            transform 0.3s,
            background-color 0.3s;
    }
    #cs-footer-274 .cs-social-link:hover {
        background-color: var(--primary);
        transform: translateY(-0.1875rem);
    }
    #cs-footer-274 .cs-social-img {
        height: 0.8125rem;
        width: auto;
        display: block;
    }
    #cs-footer-274 .cs-nav {
        padding: 0;
        margin: 0;
    }
    #cs-footer-274 .cs-nav-li {
        list-style: none;
        margin: 0;
        color: white;
        
    }
  
    #cs-footer-274 .cs-header {
        font-size: 1rem;
        line-height: 1.5em;
        font-weight: 700;
        /* 16px - 20px */
        margin-bottom: clamp(1rem, 2.7vw, 1.25rem);
        color: var(--bodyTextColor);
        position: relative;
        display: block;
    }
    #cs-footer-274 .cs-nav-link {
        font-size: 1rem;
        text-decoration: none;
        line-height: 1.5em;
        color: var(--bodyTextColor);
        position: relative;
    }
    #cs-footer-274 .cs-nav-link:before {
        /* underline */
        content: "";
        width: 0%;
        height: 0.125rem;
        background: var(--bodyTextColor);
        opacity: 1;
        position: absolute;
        display: block;
        bottom: -0.125rem;
        left: 0;
        transition: width 0.3s;
    }
    #cs-footer-274 .cs-nav-link:hover:before {
        width: 100%;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cs-footer-274 .cs-container {
        max-width: 80rem;
        row-gap: 0;
        /* 44px - 88px */
        column-gap: clamp(2.75rem, calc(6%), 5.5rem);
    }
    #cs-footer-274 .cs-logo-group {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    #cs-footer-274 .cs-social {
        flex-direction: row;
        position: relative;
        top: auto;
        right: auto;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-footer-274 .cs-container {
        justify-content: flex-end;
    }
    #cs-footer-274 .cs-logo-group {
        width: auto;
        margin: 0;
        /* pushes the rest of the content to the right in a flexbox */
        margin-right: auto;
        flex-direction: column;
    }
    #cs-footer-274 .cs-logo-img {
        margin-bottom: 2.75rem;
    }
    #cs-footer-274 .cs-nav {
        margin-top: 0.75rem;
    }
}

                                
                                

                                